@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #875cf5;
  --color-primary-hover: #6027f2;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box input {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded-lg px-4 py-3 mb-3 border border-slate-300 focus:outline-none focus:border-primary;
}

.btn-primary {
  @apply w-full bg-primary text-white py-2 rounded-lg mt-3 hover:bg-primary-hover transition duration-300 cursor-pointer;
}

.btn-secondary {
  @apply w-full bg-slate-200 text-gray-700 py-2 rounded-lg mt-3 hover:bg-slate-300 transition duration-300 cursor-pointer;
}

.btn-primary-outline {
  @apply w-full border border-primary text-primary py-2 rounded-lg mt-3 hover:bg-primary hover:text-white transition duration-300 cursor-pointer;
}

.error-wrap {
  @apply w-full border border-red-600 p-2 text-xs text-red-600 bg-red-100 inline-block text-center rounded-lg;
}

.password-input{
  padding: 12px 36px 12px 16px !important;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 13px;
  cursor: pointer;
}

